.col-md-4{
    border: 3px solid pink;
    background:black;
    color: white;

}

.col-md-4-offset-4{
    border: 3px solid pink;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.jumbotron{
    margin-top: 50px;
    margin-bottom:15px;
    background:black;
    color: pink;
    margin-left: 80px;
}